@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-image: url('../assets/image/fundobee1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body h2 {
    color: #000000;
    font-size: 25px;
    font-family: "TinkerToy Regular", sans-serif;
}

main {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.spnQtd {
    text-align: end;
    color: #000000;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000000;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(102, 151, 104), rgb(51, 102, 51), rgb(0, 51, 0));
    color: white;
    font-size: 14px;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button {
    text-align: center;
}

input {
    all: unset;
    border: 1px solid #94a3b8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

input:checked {
    border: 1px solid rgb(102, 151, 104);
}

input:checked:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(102, 151, 104);
    border-radius: 50%;
}

.answers div {
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    order: 1;
    /* Coloca o texto na frente do input */
}