@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-image: url('../assets/image/fundobee1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Ajuste a opacidade conforme necessário */
  z-index: 1;
}

h2 {
  z-index: 2;
  color: #000000;
}

main {
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fundo semi-transparente para o conteúdo principal */
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.spnQtd {
  text-align: end;
  color: #000000;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #000000;
}

button {
  width: 50%;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(102, 151, 104),
    rgb(51, 102, 51),
    rgb(0, 51, 0)
  );
  color: white;
  font-size: 14px;
  margin-top: 10px;
  align-self: center;
}

.finish {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.finish button {
  text-align: center;
}

input {
  all: unset;
  border: 1px solid #94a3b8;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid rgb(102, 151, 104);
}

input:checked:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: rgb(102, 151, 104);
  border-radius: 50%;
}

.answers div {
  display: flex;
  align-items: center;
  gap: 5px;
}

label {
  order: 1;
  /* Coloca o texto na frente do input */
}

.incorrect-answers {
  margin-top: 20px;
  max-height: 300px; /* Altura máxima para scroll */
  overflow-y: auto; /* Adiciona scroll quando necessário */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.incorrect-answers h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ff0000;
}

.incorrect-answers p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #000000;
}

.correct-answer {
  font-weight: bold;
  margin-bottom: 10px;
}

.result-info {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.result-info p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #000000;
}
